:root{
    --fundo: #9dbec4;
    --cart: #c2bd86;
    --invcart:#87c185;
    --dest:#3b82d3;
    --preto:#000000;
    --branco:#fff;
}
body{
    background: var(--fundo);
    margin: 0;
    
}
footer{
    background-color:var(--dest) ;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}